@media screen and (max-width: 600px) {
    .controls{
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left:50%;
        transform: translateX(-50%);
        width: 100%;

        .control{
            margin: 0.25rem;
        }
    }

    .header-content{
        margin-top: 8%;
    }

    .section-header{
       position: absolute;
       left: 5%;
    }

    .socialconnect{
        position: absolute;
        left: 5%;
        margin-top: 4rem;
    }

    .project-content{
        margin-top: 4rem;
    }

    .skills{
        .section-content{
            position: absolute;
            left: 5%;
            margin-top: 4rem;
        }
        img{
            width: 50px;
        }
    }
}