* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #FFFFFF;
  --color-secondary: #499c97;
  --color-secondary2: #60118e;
  --color-secondary3: #a365c7;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
}

body {
  background-color: var(--color-primary);
  font-family: "Work Sans", sans-serif;
  font-size: 1.25rem;
  color: var(--color-black);
  transition: all 0.3 0.5s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: #000000;
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 10rem;
}

.section {
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out;
  background-color: inherit;
  color: inherit;
}

.sec1 {
  display: none;
  transform: translate(0) scale(1);
}

.sec2 {
  display: none;
  transform: translate(0) scale(1);
}

.sec3 {
  display: none;
  transform: translate(0) scale(1);
}

.sec4 {
  display: none;
  transform: translate(0) scale(1);
}

.active {
  display: block;
  animation: scaleAnim 0.5s ease-in-out;
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .active-btn {
  background-color: var(--color-secondary2) !important;
  transition: all 0.2s ease-in-out;
}
.controls .active-btn i {
  color: var(--color-white) !important;
}
.controls .control {
  color: var(--color-white);
  padding: 1.5 rem;
  cursor: pointer;
  background-color: var(--color-secondary);
  width: 100px;
  height: 55px;
  border-radius: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
}
.controls .control:hover {
  background-color: var(--color-secondary3);
}

#profile-image {
  margin: 1rem;
  width: 75%;
}

.header-content {
  margin-top: 1.5%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}
.header-content .left-header {
  display: flex;
  position: relative;
}

.resume-download-button-container {
  margin-top: 1.5rem;
}

#resume-download-button {
  font: inherit;
  font-size: 1.2rem;
  color: var(--color-white);
  padding: 1.5 rem;
  background: black;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  width: 200px;
  height: 55px;
}

#resume-download-button:hover {
  cursor: pointer;
  background: var(--color-grey-4);
}

.section-header {
  text-align: center;
}

.section-content {
  width: 100%;
}

.skillslogo {
  width: 5%;
}

.socialconnect {
  color: inherit;
  border: none;
  font-size: inherit;
  font: inherit;
  background-color: inherit;
  margin: 0.5rem;
}

.socialconnect:hover {
  color: red;
  font-size: larger;
}

.nightMode {
  position: fixed;
  color: var(--color-black);
  top: 1%;
  right: 1%;
}

.nightModebutton {
  border: none;
  background-color: inherit;
  width: 3.5rem;
}

::-moz-selection {
  color: white;
  background: rgb(208, 76, 76);
}

::selection {
  color: white;
  background: rgb(208, 76, 76);
}

.dark-mode {
  background-color: var(--color-black);
  color: var(--color-white);
}

@media screen and (max-width: 600px) {
  .controls {
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .controls .control {
    margin: 0.25rem;
  }
  .header-content {
    margin-top: 8%;
  }
  .section-header {
    position: absolute;
    left: 5%;
  }
  .socialconnect {
    position: absolute;
    left: 5%;
    margin-top: 4rem;
  }
  .project-content {
    margin-top: 4rem;
  }
  .skills .section-content {
    position: absolute;
    left: 5%;
    margin-top: 4rem;
  }
  .skills img {
    width: 50px;
  }
}/*# sourceMappingURL=style.css.map */